.site-footer {
	background-color: $ltgray;
	color 			: $charcoal;
	font-size 		: 12px;
	text-align 		: center;
	width 			: 100%;

	a {
		@include unline( $charcoal );
	}
}

.wrap-footer {
	overflow 	: auto;
	padding 	: 1em;
}

.site-info {
	div {
		padding: 0.5em;
	}
}

.seal {
	@extend %clearbefore;
	order 		: 4;
	text-align 	: center;
	width 		: 100%;

	.home & {
		display: none;
	}

	.fire.home &,
	.police.home & {
		display: block;
	}

	.seal-small {
		max-height 	: 100px;
		max-width 	: 100px;
	}
}

.contact-info {
	@extend %listreset;

	li {
		display: inline-block;

		&:not(:last-child) {
			border-right 	: 1px solid $charcoal;
			margin-right 	: 0.5em;
			padding-right 	: 0.5em;
		}

		@media only screen and (max-width: $bp__footer) {
			&:first-child,
			&:last-child {
				border-right	: none;
				display 		: block;
				margin 			: 0;
				margin-bottom 	: 1em;
				padding 		: 0;
			}

			&:nth-child( 2 ) {
				border-right 	: 1px solid $charcoal;
				margin-right 	: 0.5em;
				padding-right 	: 0.5em;
			}

			&:nth-child( 3 ) {
				border-right	: none;
				margin 			: 0;
				margin-bottom 	: 1em;
				padding 		: 0;
			}
		}
	}
}
