.site-header {
	// DO NOT ADD PADDING HERE! - it screws up menus
	background-color 	: $blue;
	background-position : center center;
	background-repeat 	: no-repeat;
	background-size 	: cover;
	max-height 			: 650px;
	overflow 			: auto;
	position 			: relative;
	transition 			: $trans__default;

	@media only screen and (min-width: $bp__real_menu_button+1) {
		height 		: 450px;
		overflow 	: hidden;

		.home.city & {
			background 	: transparent;
			height: auto;
			//height 		: 645px;
		}

		// .fire &,
		// .police & {
		// 	//height: 470px !important;
		// }
	}

	.logo {
		fill: $light;
	}

	.wrap-header {
		margin 		: 3.5em 0 1.5em;
		max-width 	: none;
		padding 	: 0;
		transition 	: $trans__default;

		@media only screen and (min-width: $bp__real_menu_button + 1) {
			margin: 0;
			@include vertcenter();
		}

		.home.city & {
			@media only screen and (min-width: $bp__real_menu_button+1) {
				display: none;
			}
		}


	}

	&.open-dept {
		.wrap-header {
			top: 32%;
		}
	}
}

.site-branding {
	margin		: 0 auto;
	//padding 	: 1em;
}

.site-title {
	margin 		: 0;
	text-align 	: center;
	transition 	: $trans__default;

	// @media only screen and (min-width: $bp__real_menu_button+1) {
	// 	margin: 97px 0;
	//
	// 	.home & {
	// 		margin: 0;
	// 	}
	//
	// 	&.open-dept {
	// 		margin: 17px 0;
	//
	// 		.home & {
	// 			margin: 0;
	// 		}
	//
	// 		.depts-marg &,
	// 		.fire &,
	// 		.police & {
	// 			margin: 41px 0;
	// 		}
	//
	// 	}
	//
	// 	&.open-biz,
	// 	.biz-marg & {
	// 		margin: 78px 0;
	//
	// 		.home & {
	// 			margin: 0;
	//
	// 			.open-dept {
	// 				margin: 18px 0;
	// 			}
	// 		}
	//
	// 		&.open-dept {
	// 			margin: 18px 0;
	// 		}
	//
	// 		.fire &,
	// 		.police & {
	// 			margin: 35px 0;
	// 		}
	// 	}
	// } // bp

	a {
		color 			: $color__text-site-title;
		display 		: block;
		text-decoration : none;
	}
} // .site-title

svg.logo {
	filter 			: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#020202')";
	//filter 			: url(#drop-shadow);
	-webkit-filter 	: drop-shadow( 3px 3px 0px $transdark );
	filter 			: drop-shadow( 3px 3px 0px $transdark );
	height 			: 125px;
	width 			: 290px;
	transition 		: $trans__default;

	@media only screen and (min-width: $bp__real_menu_button+1) {
		height 	: 151px;
		width 	: 350px;

		.home & {
			height 	: 258px;
			width 	: 600px;
		}

		.open-dept & {

			.home & {
				height 	: 204px;
				width 	: 475px;
			}

			.home.police &,
			.home.fire & {
				height 	: 151px;
				width 	: 350px;
			}
		}

		// .open-biz & {
		//
		// 	.home & {
		// 		height 	: 237px;
		// 		width 	: 550px;
		// 	}
		// }
	} // bp
} // .logo

.site-description {
	text-align: center;
}
