.menu-header {
	background-color: $transcoal;
	color 			: $light;
	text-transform 	: uppercase;

	a {
		@include unline( $light, $yellow );
	}

	.nav-header {
		margin 		: 0 auto;
		max-width 	: $size__max-width;
	}

	.menu-items {
		@extend %listreset;
		text-align 	: center;
	}

	.menu-item {
		display 		: inline-block;
		padding 		: 0.75em 0.5em;

		&:nth-child(-n+3) {

			a {
				border-right 	: 1px solid $light;
				padding-right 	: 1em;
			}
		}

		&:nth-child(4) {
			margin-right: 1em;
		}
	}

	.red {
		background-color: $red;
		text-transform 	: capitalize;
	}
}