.main-navigation {
	clear			: both;
	display			: block;
	float			: left;
	transition 		: $trans__default;
	width			: 100%;

	@media only screen and (min-width: $bp__real_menu_button + 1) {
		position: absolute;
		bottom 	: 0;

		.open-dept & {
			bottom: 160px;
		}

		.depts-marg &,
		.home.fire &,
		.home.police &  {
			bottom: 115px;
		}

		.open-biz & {
			bottom: 40px;
		}
	}

	ul {
		@extend %listreset;
		display 	: none;
		text-align 	: left;

		@media only screen and (min-width: $bp__real_menu_button + 1) {
			display 	: block;
			text-align	: center;
		}

		.wrap-submenu {
				display			: inherit;

				@media only screen and (min-width: $bp__real_menu_button+1) {
					background-color: $color__bg-submenu;
					left 			: 0;
					max-height 		: 0;
					opacity 		: 0;
					position		: absolute;
					transition 		: $trans__default;
					visibility 		: hidden;
					width 			: 100%;
					z-index			: 99999;
				} // bp
			}

		ul {
			display: inherit;

			ul {

				@media only screen and (min-width: $bp__real_menu_button+1) {
					left: 100%;
					top	: 0;
				}

				a {
					@media only screen and (max-width: $bp__real_menu_button) {
						border-left : none;
						padding 	: 0.5em 3em;
					}
				}
			}

			a {
				@media only screen and (max-width: $bp__real_menu_button) {
					padding: 0.5em 2em;
				}

				@media only screen and (min-width: $bp__real_menu_button+1) {
					color 			: $color__text-submenu;
					font-size 		: 1em;
					text-transform 	: capitalize;
					white-space 	: nowrap;
				}
			}

			li {

				/**
				 * If submenu is open, allow other submenus to display their label
				 * if hovering over them.
				 */
				.open-dept {

					ul ul li:not(.current-menu-ancestor) {

						.menu-label {
							opacity 	: 0;
							transition 	: $trans__default;
						}

						&:hover {
							.menu-label {
								opacity: 1;
							}

							.open-dept ul ul li.current-menu-ancestor .menu-label {
								opacity: 0;
							}
						}
					}
				}

				.water-customer-service & {

					&.current-menu-ancestor:not(.current-referrer) {
						.menu-label {
							opacity: 0;
						}
					}
				}

				&:last-child {

					@media only screen and (max-width: $bp__real_menu_button) {
						padding-bottom: 0;
					}
				}
			}


		} // .submenu ul

	} // first-level ul

	li {

		@media only screen and (min-width: $bp__real_menu_button+1) {
			display 	: inline-block;

			&.departments.open .wrap-submenu,
			&.open-dept .wrap-submenu {
				max-height: 160px;
			}

			&.doing-business.open .wrap-submenu,
			&.open-biz .wrap-submenu {
				max-height: 40px;
			}

			.depts-marg &.departments,
			.fire &.departments,
			.police &.departments {
				.menu-label {
					font-size 		: 36px;
					font-style 		: italic;
					font-weight 	: 700;
					left 			: 0;
					margin-top 		: 0.35em;
					opacity 		: 1;
					position 		: absolute;
					text-transform 	: uppercase;
					transition 		: $trans__default;
					width 			: 100%;
				}

				.menu-item:not(.current-menu-ancestor):not( .current-menu-item ) {
					.menu-label {
						opacity: 0;
					}
				}
			}

			&.departments {
				li {
					.menu-label {
						&.show {
							opacity: 1 !important;
						}
						&.hide {
							opacity: 0 !important;
						}
					}
				}
			}

			> .wrap-submenu {
				> .sub-menu {
					margin 			: 0 auto;
					max-width 		: 680px;
					padding-bottom 	: 3em;
					position 		: relative;

					.home & {
						max-width 		: 645px;
						padding-bottom	: 0;
					}

					.fire &,
					.police & {
						max-width 		: 680px;
						padding-bottom 	: 3em;
					}
				}
			}
		}

		&.open,
		&.open-dept,
		&.open-biz {

			> ul,
			> .wrap-submenu {
				@media only screen and (min-width: $bp__real_menu_button+1) {
					display 	: block;
					opacity 	: 1;
					visibility 	: visible;
				}
			}

			> a {
				color 			: $color__text-menu-mobile-hover;

				@media only screen and (min-width: $bp__real_menu_button+1) {
					color: $color__text-menu-hover;
				}
			}
		}
	}

	.depts-marg & {
		li.current-menu-ancestor.departments {
			li:not( .current-menu-ancestor ):not( .current-menu-item ) {
				.menu-label {

					@media only screen and (min-width: $bp__real_menu_button+1) {
						opacity: 0;
					}
				}
			}
		}
	}

	a {
		color 			: $color__text-menu-mobile;
		display			: block;
		padding 		: 0.75em 1em;
		text-decoration	: none;

		@media only screen and (min-width: $bp__real_menu_button+1) {
			color 			: $color__text-menu;
			font-size 		: 20px;
			text-transform 	: uppercase;
		}

		&:focus {
			outline-color: $color__outline-menu-link;
		}

		svg {
			display: none;

			@media only screen and (min-width: $bp__real_menu_button+1) {
				display : block;
				fill 	: $light;
				height 	: 40px;
				margin 	: 0 auto;
				width 	: 40px;
			}
		}
	}

	.current_page_item,
	.current-menu-item,
	.current-menu-parent,
	.current_page_ancestor {

		@media only screen and (min-width: $bp__real_menu_button+1) {
			background-color: $color__bg-menu-current;
		}

		> a {
			color: $color__text-menu-current;

			svg {
				fill: $yellow;
			}
		}

		&.open,
		&.open-biz,
		&.open-dept {

			> a {
				color: $color__text-menu-current-hover;
			}
		}
	}

	&.fire .departments,
	&.police .departments {
		.wrap-submenu {
			display 	: block;
			max-height 	: 160px;
			opacity 	: 1;
			visibility 	: visible;
		}
	}

	&.toggled {

		.nav-menu {
			@extend %menutoggle;
		}

		.menu-toggle {
			right: $size__menu_width;
		}
	}
} // .main-navigation

// Center Menu
.menu-main-menu-container {
	background-color: $transdark;
	margin			: 0 auto;
}


/* Small menu */
.menu-toggle {
	@extend %menutoggle;

	@media only screen and (min-width: $bp__real_menu_button+1) {
		display 		: none;
	}
}

.children-caret {
	display 	: inline-block;
	height 		: 0.75em;
	margin-left : 0.25em;
	width 		: 0.75em;
}
